.dice-wrapper {
  margin: 0 20px;
}

.dice-wrapper div {
  float: left;
}

.score-table-wrapper {
  min-width: 200px;
}
.score-table {
  margin: 0 auto;
}

.total-score-label {
  width: 100%;
  display: flex;
  align-items: inherit;
  justify-content: space-around;
  font-size: 1rem;
}

.game-wrapper {
  width: 100%;
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

.board {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* html {
  background-image: url("https://image1.shopserve.jp/nissin-ex-onlineshop.com/pic-labo/llimg/muku_natural_ex50_1.jpg?t=201611271118422");
} */
